
@{
    ViewBag.Title = "No Access";
}


<h1>You do not have access to this page!</h1>
<h3>If you are a <code>QI Coordinator</code>, please @Html.ActionLink("Login", "Login", "Home") </h3>



<h4 style="padding-top: 20px">Or go back to see @Html.ActionLink("List of measures", "Index", "Measures")</h4>
