.btn_check input {
    display: none;
}

.btn_check i {
    width: 14px;
    text-align: left;
}

.btn_check input:checked + label {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

    .btn_check input:checked + label i:before {
        content: "\f046";
    }
